@{
    ViewBag.Title = "融资信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <style>
        .myLink
        {
            cursor: pointer;
        }
    </style>
    <script>
        $(function () {
            $("#link_1").click();
        });
    </script>
}
@model Entity.Financing
<div class="row-fluid">
    <div class="span12">
        <div class="tabbable tabbable-custom boxless">
            <form action="#" class="form-horizontal">
            <div style="margin-bottom: 20px;">
                <button type="button" class="btn" onclick="location.href='@ViewBag.BackUrl'">
                    返回</button></div>
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i>状态信息</div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">
                                    项目经理：</label>
                                <div class="controls">
                                    @if (Model.Owner_A != null)
                                    { 

                                        <span class="help-inline">@Model.Owner_A.Name</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">
                                    项目B角：</label>
                                <div class="controls">
                                    @if (Model.Owner_B != null)
                                    { 

                                        <span class="help-inline">@Model.Owner_B.Name</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">
                                    融资状态：</label>
                                <div class="controls">
                                    @switch (Model.Status)
                                    {
                                        case 0:

                                        <span class="help-inline">未进行</span>
                                            break;
                                        case 1:

                                        <span class="help-inline">进行中</span>
                                            break;
                                        case 2:

                                        <span class="help-inline">已完成</span>
                                            break;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" id="link_1" data-toggle="tab">融资信息</a></li>
                    <li><a class="" href="#tab_2" data-toggle="tab">附件信息</a></li>
                    <li><a class="" href="@Url.Action("Detail", "Company", new { id = Model.CompanyID })" target="_blank" >
                        客户信息</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="portlet box">
                            <div class="portlet-body form">
                                <div class="control-group">
                                    <label class="control-label">
                                        项目名称</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.Name, new { @class = "span6 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.Name)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        融资金额（万元）</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.Amount, new { @class = "m-wrap span6", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.Amount)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        融资期限（月）</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.MinTimeLimit, new { @class = "span2 m-wrap", @readonly = "readonly" })&nbsp;&nbsp;&nbsp<span
                                            class="help-inline">-</span>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(a => a.MaxTimeLimit, new { @class = "span2 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.MinTimeLimit)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        收益率</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.ShouYiLv, new { @class = "m-wrap span4", @readonly = "readonly" })
                                        <label class="radio">
                                            <div class="radio">
                                                <span class="checked">
                                                    <input type="radio" name="ShouYiLvType" value="0" checked=""></span></div>
                                            月
                                        </label>
                                        <label class="radio">
                                            <div class="radio">
                                                <span>
                                                    <input type="radio" name="ShouYiLvType" value="1"></span></div>
                                            年
                                        </label>
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.ShouYiLv)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        融资成本</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.FinancingCost, new { @class = "span6 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.FinancingCost)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        融资用途</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.Purpose, new { @class = "span6 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.Purpose)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        还款来源</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.Repayment, new { @class = "span6 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.Repayment)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        增信措施</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.ZengXinCuoShi, new { @class = "span6 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.ZengXinCuoShi)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        融资方案</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.RongZiFangAn, new { @class = "span6 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.RongZiFangAn)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        业务来源</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.BusinessResource, new { @class = "span6 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.BusinessResource)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        备注</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.Remark, new { @class = "span6 m-wrap", @readonly = "readonly" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.Remark)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab_2">
                        <div class="portlet box">
                            <div class="portlet-body form">
                                <div class="control-group">
                                    <label class="control-label">
                                        附件</label>
                                    <div class="controls">
                                        @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "1", Text = "附件管理", Table = Entity.SystemConst.TableName.Financing, EnumAttachmentType = Entity.Enum.EnumAttachmentType.RongZiXinXiFuJian, IsEnabled = false });}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
