@{
    ViewBag.Title = "贷款信息列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
@model PagedList<Entity.Financing>
<div class="row-fluid">
    <div class="span12">
        <div>
        </div>
        @using (Html.BeginForm("Index", "Financing", new { id = 1 }))
        {
            <div class="myoption">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100px;">
                            贷款主体
                        </td>
                        <td>
                            <input type="text" class="span6" name="Name" id="Name" style="margin-bottom: 0px" />
                        </td>
                        <td style="width: 100px;">
                            <input type="submit" value="查询" class="btn blue" />
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        }
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>贷款信息列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="table_company">
                    <thead>
                        <tr>
                            <th style="width: 50px">
                                序号
                            </th>
                            <th>
                                贷款主体
                            </th>
                            <th style="width: 130px;">
                                公司名称
                            </th>
                            <th style="width: 120px;">
                                贷款金额（万元）
                            </th>
                            <th style="width: 120px;">
                                贷款期限（月）
                            </th>
                            <th style="width: 90px;">
                                贷款利率
                            </th>
                            <th style="width: 90px;">
                                业务类型
                            </th>
                            <th style="width: 90px;">
                                项目经理
                            </th>
                            <th style="width: 90px;">
                                进行状态
                            </th>
                            <th style="width: 90px;">
                                审核状态
                            </th>
                            <th style="width: 160px">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                            var page = (Model.CurrentPageIndex - 1) * Model.PageSize;
                        }
                        @foreach (var item in Model)
                        {
                                 
                            <tr>
                                <td>@(page + i)
                                    @{i++;}
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Company.Name
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @if (item.MaxTimeLimit != 0)
                                    {
                                        @:@item.MinTimeLimit + @item.MaxTimeLimit
                                                                            }
                                    else
                                    {
                                        @item.MinTimeLimit
                                    }
                                </td>
                                <td>
                                    @item.ShouYiLv @(item.ShouYiLvType == 0 ? "月" : "年")
                                </td>
                                <td>
                                    @(item.WorkFlowManager == null ? "-" : @item.WorkFlowManager.Name)
                                </td>
                                <td>
                                    @(item.Owner_A == null ? "-" : @item.Owner_A.Name)
                                </td>
                                <td>
                                    @switch (item.Status)
                                    {
                                        case 0:
                                        @:未进行
                                                break;
                                        case 1:
                                        @:进行中
                                                break;
                                        case 2:
                                        @:已完成
                                                break;
                                    }
                                </td>
                                <td>
                                    @if (item.AuditStatus == -2)
                                    { 
                                        @:申请修改
                                                                                                            }
                                    else if (item.AuditStatus == -1)
                                    { 
                                        @:未提交审核
                                                                                                            }
                                    else if (item.AuditStatus == 0)
                                    { 
                                        @:待审核
                                    }
                                    else if (item.AuditStatus == 1)
                                    {
                                        @:通过
                                    }
                                    else if (item.AuditStatus == 2)
                                    { 
                                        @:未通过
                                    }
                                </td>
                                <td>
                                    @if (item.AuditStatus == -1 || item.AuditStatus == 2)
                                    {
                                        @Ajax.ActionLink("提交审核", "Commit", "Financing", new { id = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('提交审核后将无法修改数据，确定提交审核？')" }, null)
                                    }
                                    else if (item.AuditStatus == 0 || item.AuditStatus == 1)
                                    { 
                                        @Ajax.ActionLink("申请修改", "CommitEdit", "Financing", new { id = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定审请修改该条数据？')" }, null)
                                    }
                                    @Html.ActionLink("详细", "Detail", "Financing", new { id = item.ID }, null, true)
                                    @if ((ViewBag.LoginUesrID == item.Owner_A_ID) && (item.AuditStatus == -1 || item.AuditStatus == 2))
                                    { 
                                        @Html.ActionLink("修改", "EditFinancing", "Company", new { id = item.ID, companyID = item.CompanyID, page = Model.CurrentPageIndex, fromID = 2 }, null, true)@:
                                        @Ajax.ActionLink("删除", "DeleteFinancing", "Company", new { id = item.ID, companyID = item.CompanyID, page = Model.CurrentPageIndex, fromID = 2 }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?删除此项将会删除其关联的所有数据！')" }, true)
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
                       {
                           PageIndexParameterName = "ID",
                           CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                           NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                           NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                           CssClass = "",
                           SeparatorHtml = "",
                           AutoHide = false,
                           PageIndexOutOfRangeErrorMessage = "页面错误。",
                           ShowFirstLast = false,
                           ContainerTagName = "ul"
                       })
                </div>
            </div>
        </div>
    </div>
</div>
