@{
    ViewBag.Title = "贷款信息列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
@model PagedList<Entity.Financing>
<div class="row-fluid">
    <div class="span12">
        <div>
        </div>
        @using (Html.BeginForm("IndexAll", "Financing", new { id = 1 }, FormMethod.Get))
        {
            <div class="myoption">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100px;">
                            贷款主体
                        </td>
                        <td>
                            <input type="text" class="span6" name="Name" id="Name" style="margin-bottom: 0px" />
                        </td>
                        <td style="width: 100px;">
                            <input type="submit" value="查询" class="btn blue" />
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        }
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>贷款信息列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="table_company">
                    <thead>
                        <tr>
                            <th style="width: 200px;">
                                贷款主体
                            </th>
                            <th style="width: 130px;">
                                公司名称
                            </th>
                            <th style="width: 80px;">
                                贷款金额（万元）
                            </th>
                            <th style="width: 80px;">
                                贷款期限（月）
                            </th>
                            <th style="width: 80px;">
                                贷款利率
                            </th>
                            <th style="width: 130px;">
                                项目类型
                            </th>
                            <th style="width: 80px;">
                                项目经理
                            </th>
                            <th style="width: 80px;">
                                状态
                            </th>
                            <th style="width: 80px;">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Company.Name
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @if (item.MaxTimeLimit != 0)
                                    {
                                        @:@item.MinTimeLimit + @item.MaxTimeLimit
                                                                                                                    }
                                    else
                                    {
                                        @item.MinTimeLimit
                                    }
                                </td>
                                <td>
                                    @item.ShouYiLv @(item.ShouYiLvType==0?"月":"年")
                                </td>
                                <td>
                                    @(item.WorkFlowManager == null ? "-" : @item.WorkFlowManager.Name)
                                </td>
                                <td>
                                    @(item.Owner_A == null ? "-" : @item.Owner_A.Name)
                                </td>
                                <td>
                                    @switch (item.Status)
                                    {
                                        case 0:
                                        @:未进行
                                                break;
                                        case 1:
                                        @:进行中
                                                break;
                                        case 2:
                                        @:已完成
                                                                                                                                                            break;
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("详细", "Detail", "Financing", new { id = item.ID }, null, true)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
                       {
                           PageIndexParameterName = "ID",
                           CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                           NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                           NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                           CssClass = "",
                           SeparatorHtml = "",
                           AutoHide = false,
                           PageIndexOutOfRangeErrorMessage = "页面错误。",
                           ShowFirstLast = false,
                           ContainerTagName = "ul"
                       })
                </div>
            </div>
        </div>
    </div>
</div>
