@{
    ViewBag.Title = "我的待办列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
@model PagedList<Entity.WorkFlow>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>我的待办列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="table_company">
                    <thead>
                        <tr>
                            <th style="width: 45px;">
                                流程图
                            </th>
                            <th style="width: 110px;">
                                编号
                            </th>
                            <th>
                                贷款主体
                            </th>
                            <th style="width: 110px;">
                                申请时间
                            </th>
                            <th style="width: 110px;">
                                申请人
                            </th>
                            <th style="width: 110px;">
                                状态
                            </th>
                            <th style="width: 110px;">
                                当前节点
                            </th>
                            <th style="width: 150px;">
                                当前审批人
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: center">
                                    <a href="@Url.Action("WorkFlowSchedule", "WorkFlow", new { WorkFlowID = item.ID })" title="流程节点与操作指引" target="_blank" style="">
                                        <img src="@Url.Content("/Image/lct.png")" style=" max-width:25px" />
                                    </a>
                                </td>
                                <td>
                                    @Html.ActionLink(@item.Number, item.WorkFlow_Node.WorkFlowNodeManager.Action, item.WorkFlow_Node.WorkFlowNodeManager.Controllers, new { WorkFlowID = item.ID }, new { target = "_blank" })
                                </td>
                                <td>
                                    @item.Financing.Name
                                </td>
                                <td>
                                    @item.BeginDate.ToString("yyyy/MM/dd")
                                </td>
                                <td>
                                    @if (item.Financing.Owner_A != null)
                                    { 
                                    @item.Financing.Owner_A.Name
                                    }
                                </td>
                                <td>
                                    @switch (item.State)
                                    {
                                        case 0:
                                        @:草稿
                                                break;
                                        case 1:
                                        @:进行中
                                                break;
                                        case 2:
                                        @:已完成
                                                break;
                                        case 3:
                                        @:未通过
                                                                                                                                                           break;
                                    }
                                </td>
                                <td>
                                    @item.WorkFlow_Node.WorkFlowNodeManager.Name
                                </td>
                                <td>
                                    @{
                                    var ars = item.ApprovalRecord.Where(a => a.Operation == -1).ToList();
                                    }
                                    @foreach (var ar in ars)
                                    {
                                        @:@ar.AccountPosition：@ar.AccountName<br />
                                                                                                                                                }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
               {
                   PageIndexParameterName = "ID",
                   CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                   NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                   NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                   CssClass = "",
                   SeparatorHtml = "",
                   AutoHide = false,
                   PageIndexOutOfRangeErrorMessage = "页面错误。",
                   ShowFirstLast = false,
                   ContainerTagName = "ul"
               })
                </div>
            </div>
        </div>
    </div>
</div>
