@{
    ViewBag.Title = "项目列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
    function GetABRole(workflowID) { 
        var url = "@Url.Action("EditABRole", "WorkFlow")";
        url = url+"?WorkFlowID="+workflowID;
         $("#iframe_GGAB").attr("src", url);
    }
    function ckbABOk()
    {
        $("#del_GGAB").click();
        JMessage("更改成功！",false);
        setTimeout(function() { 
            location.reload();

        }, 1000); 

    }
    </script>
}
@model PagedList<Entity.WorkFlow>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>项目列表
                </div>
                <div class="tools">
                    <a onclick="ckbABOk()" id="a_delAB" style="display: none"></a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="table_company">
                    <thead>
                        <tr>
                            <th style="width: 45px;">
                                流程图
                            </th>
                            <th style="width: 100px;">
                                编号
                            </th>
                            <th >
                                贷款主体
                            </th>
                            <th style="width: 110px;">
                                申请时间
                            </th>
                            <th style="width: 110px;">
                                申请人
                            </th>
                            <th style="width: 110px;">
                                状态
                            </th>
                            <th style="width: 110px;">
                                当前节点
                            </th>
                            <th style="width: 150px;">
                                当前审批人
                            </th>
                            <th style="width: 150px;">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: center">
                                    <a href="@Url.Action("WorkFlowSchedule", "WorkFlow", new { WorkFlowID = item.ID })" title="流程节点与操作指引" target="_blank" style="">
                                        <img src="@Url.Content("/Image/lct.png")" style=" max-width:25px" />
                                    </a>
                                </td>
                                <td>
                                    @Html.ActionLink(@item.Number, "SelInfoPath", "WorkFlowApproval", new { WorkFlowID = item.ID }, new { target = "_blank" })
                                </td>
                                <td>
                                    @item.Financing.Name
                                </td>
                                <td>
                                    @item.BeginDate.ToString("yyyy/MM/dd")
                                </td>
                                <td>
                                    @item.Financing.Owner_A.Name
                                </td>
                                <td>
                                    @switch (item.State)
                                    {
                                        case 0:
                                        @:草稿
                                                break;
                                        case 1:
                                        @:进行中
                                                break;
                                        case 2:
                                        @:已完成
                                                break;
                                        case 3:
                                        @:未通过
                                                                                                                                                                                                break;
                                    }
                                </td>
                                <td>
                                    @item.WorkFlow_Node.WorkFlowNodeManager.Name
                                </td>
                                <td>
                                    @{
                                    var ars = item.ApprovalRecord.Where(a => a.Operation == -1).ToList();
                                    }
                                    @foreach (var ar in ars)
                                    {
                                        @:@ar.AccountPosition：@ar.AccountName<br />
                                                                                                                                                                                    }
                                </td>
                                <td>
                                    <a data-toggle="modal" onclick="GetABRole(@item.ID)" href="#div_guanlian_GGAB">更改AB角</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
               {
                   PageIndexParameterName = "ID",
                   CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                   NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                   NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                   CssClass = "",
                   SeparatorHtml = "",
                   AutoHide = false,
                   PageIndexOutOfRangeErrorMessage = "页面错误。",
                   ShowFirstLast = false,
                   ContainerTagName = "ul"
               })
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div_guanlian_GGAB" class="modal hide fade" tabindex="-1" data-width="970"
    style="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        </button>
        <h3>
            更改项目AB角</h3>
    </div>
    <div class="modal-body" style="min-height: 300px">
        <div class="row-fluid">
            <div class="span12">
                <iframe style="width: 100%; height: 295px; border: none" id="iframe_GGAB"></iframe>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="del_GGAB" data-dismiss="modal" class="btn">
            关闭</button>
    </div>
</div>
