@{
    ViewBag.Title = "待定业务列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{

}
@model PagedList<Entity.WorkFlow>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>待定业务列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="table_company">
                    <thead>
                        <tr>
                            <th  style="width: 45px;">
                                流程图
                            </th>
                            <th>
                                贷款主体
                            </th>
                            <th style="width: 110px;">
                                贷款金额(万元)
                            </th>
                            <th style="width: 110px;">
                                贷款期限(月)
                            </th>
                            <th style="width: 110px;">
                                贷款利率
                            </th>
                            <th style="width: 110px;">
                                申请时间
                            </th>
                            <th style="width: 150px;">
                                项目类型
                            </th>
                            <th style="width: 80px">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style=" text-align:center">
                                    <a href="@Url.Action("WorkFlowSchedule", "WorkFlow", new { WorkFlowID=item.ID })" title="流程节点与操作指引" target="_blank" style="">
                                        <img src="@Url.Content("/Image/lct.png")" style=" max-width:25px" />
                                    </a>    
                                </td>
                                <td>
                                    @item.Financing.Name
                                </td>
                                <td>
                                    @item.Financing.Amount
                                </td>
                                <td>
                                    @if (item.Financing.MaxTimeLimit != 0)
                                    {
                                        @:@item.Financing.MinTimeLimit + @item.Financing.MaxTimeLimit
                                    }
                                    else
                                    {
                                        @item.Financing.MinTimeLimit
                                    }
                                </td>
                                <td>
                                    @item.Financing.ShouYiLv @(item.Financing.ShouYiLvType == 0 ? "月" : "年")
                                </td>
                                <td>
                                    @item.BeginDate.ToString("yyyy/MM/dd")
                                </td>
                                <td>
                                    @(item.Financing.WorkFlowManager==null?"":item.Financing.WorkFlowManager.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("详细", "Pending", "WorkFlowApproval", new { WorkFlowID = item.ID }, null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
               {
                   PageIndexParameterName = "ID",
                   CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                   NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                   NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                   CssClass = "",
                   SeparatorHtml = "",
                   AutoHide = false,
                   PageIndexOutOfRangeErrorMessage = "页面错误。",
                   ShowFirstLast = false,
                   ContainerTagName = "ul"
               })
                </div>
            </div>
        </div>
    </div>
</div>
