@{
    ViewBag.Title = "待定业务单-预览";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var MatchingProduct = ViewBag.MatchingProduct as List<Entity.MechanismProducts>;
    var AllProduct = ViewBag.AllProduct as List<Entity.MechanismProducts>;

}
@model Entity.Financing
@section scripts{
    <script>

        $(function () {
            SetFC();
            $("#_Title").hide();
            $("#link_1").click();

            var zy = "@ViewBag.ISZY";
            if (zy == "1") {
                $("#jg_div").hide();
            }
        });

        function SetFC() {
            var scrolltop = $(document).scrollTop();
            var buttom = $(document).height() - $(window).height();
            var mainwidth = $("#TabMain").width() - 12;
            if ((buttom - scrolltop) <= 60) {
                $("#div_FC").removeClass("Float_div");
                $("#div_FC").addClass("Floaty_div");

            }
            else {
                $("#div_FC").addClass("Float_div");
                $("#div_FC").width(mainwidth + "px");
                $("#div_FC").removeClass("Floaty_div");
            }
        }

        window.onscroll = function () {
            SetFC();
        };
        window.onresize = function () {
            SetFC();
        };

        function CkbSub() {
            var zy = "@ViewBag.ISZY";
            if (zy == 1) { 
                return true
            }
            var product = "";
            if ($('input[name="CK_Product"]:checked').length == 0) {
                JMessage("请选择对接机构", true);
                return false;
            }
            $('input[name="CK_Product"]:checked').each(function () {
                product = product + $(this).val() + ",";
            });
            $("#Products").val(product);
            return true;
        }
        function Ck_XXK() {
            $('input[name="CK_Product"]:checked').each(function () {
                $(this).attr("checked", false);
                $(this).parent().removeClass("checked");
            });
        }
    </script>
    <style>
        .Float_div
        {
            position: fixed;
            bottom: 0;
            margin-bottom: 10px;
            background: url('/media/image/fancybox_overlay.png');
            padding: 5px;
        }
        .Floaty_div
        {
            margin-bottom: 25px;
            width: 100%;
            padding: 5px;
        }
    </style>
}
<div class="row-fluid">
    <div class="span12" style="margin-top: 50px;">
        @{Html.RenderAction("RightOption", "WorkFlow_Form_Financing", new { financingID = ViewBag.financingID, companyID = Model.CompanyID });}
        <table id="TabMain" align="center" style="width: 100%; margin-bottom: 20px;">
            <tr>
                <td>
                    <table style="width: 100%; line-height: 30px">
                        <tr>
                            <td colspan="2" align="center">
                                <span style="font-weight: bold; font-size: 24px">@Model.WorkFlowManager.Name</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @{Html.RenderAction("Index", "WorkFlow_Form_Financing", new { financingID = ViewBag.financingID, workflowID = 1 });}
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tabbable tabbable-custom" id="jg_div">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" id="link_1" data-toggle="tab" onclick="Ck_XXK()">
                                匹配成功的产品</a></li>
                            <li><a class="" href="#tab_2" data-toggle="tab" onclick="Ck_XXK()">所有产品</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="span12" style="margin-left: 0px">
                                    <table class="table table-bordered dataTable">
                                        <tr>
                                            <td colspan="6" class="td_title" style="font-weight: bold; text-align: left !important;">
                                                选择对接机构
                                            </td>
                                        </tr>
                                        @for (int i = 0; i < MatchingProduct.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <label class="checkbox line">
                                                        <input type="checkbox" value="@MatchingProduct[i].ID" name="CK_Product" />
                                                        @MatchingProduct[i].Name
                                                    </label>
                                                </td>
                                                <td>
                                                    @if (i != MatchingProduct.Count - 1)
                                                    {
                                                        i++;
                                                        <label class="checkbox line">
                                                            <input type="checkbox" value="@MatchingProduct[i].ID" name="CK_Product" />
                                                            @MatchingProduct[i].Name
                                                        </label>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane " id="tab_2">
                                <table class="table table-bordered dataTable">
                                    <tr>
                                        <td colspan="6" class="td_title" style="font-weight: bold; text-align: left !important;">
                                            选择对接机构
                                        </td>
                                    </tr>
                                      @for (int i = 0; i < AllProduct.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <label class="checkbox line">
                                                        <input type="checkbox" value="@AllProduct[i].ID" name="CK_Product" />
                                                        @AllProduct[i].Name
                                                    </label>
                                                </td>
                                                <td>
                                                    @if (i != AllProduct.Count - 1)
                                                    {
                                                        i++;
                                                        <label class="checkbox line">
                                                            <input type="checkbox" value="@AllProduct[i].ID" name="CK_Product" />
                                                            @AllProduct[i].Name
                                                        </label>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                </table>
                            </div>
                        </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
        @using (Ajax.BeginForm("SetPendingForm", "WorkFlowApproval", new { financingID = ViewBag.financingID, Products = ViewBag.Products }, new AjaxOptions() { UpdateTargetId = "alert" }))
        {
            <div id="div_FC" class="Float_div control-group">
                <table align="center">
                    <tr>
                        <td>
                            <input type="hidden" id="Products" name="Products" />
                            <button class="btn blue" type="submit" onclick="return CkbSub()">
                                生成待定业务单</button>
                            <a href="@Url.Action("Index", "ToLoanMatching")" class="btn blue" style="width:80px">
                                返回</a>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
