@{
    ViewBag.Title = ViewBag.MName + "-机构产品管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
@model List<Entity.MechanismProducts>
<div class="row-fluid">
    <div class="span12" style="width: 100%">
        <div class="myoption">
            <a href="@Url.Action("Index", "Mechanism")" class="btn blue" >返回</a></div>
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>@(ViewBag.MName)-机构产品列表
                </div>
               <div class="tools">
                    @Html.ActionLink("<i class='icon-plus'></i>&nbsp;添加产品", "Add", "MechanismProducts", new { MID = ViewBag.MID }, new { style = "color:#FFF" }, true).Html()
                  </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            产品名称
                        </th>
                        <th>
                            最高贷款额度（万）
                        </th>
                        <th>
                            状态
                        </th>
                        <th style="">
                            操作
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (string.IsNullOrEmpty(item.WebSite))
                                { 
                                    <span class="tooltips" data-placement="top" data-original-title="暂无官网">@item.Name</span>
                                }
                                else
                                { 
                                    <a  class="tooltips" href="@item.WebSite"  target="_blank"  data-placement="top" data-original-title="点击进入官网">@item.Name</a>
                                }
                            </td>
                            <td>
                                @item.MaxQuota
                            </td>
                            <td>
                                @if (item.IsEnable)
                                {
                                    @:正常
                                }
                                else
                                { 
                                    <span style="color: Red">禁用</span>
                                   
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("GetInfo", "MechanismProducts", new { MPID = item.ID })" target="_blank">
                                    查看详细</a>
                                @Html.ActionLink("修改", "Edit", "MechanismProducts", new { MID = ViewBag.MID, MPID = item.ID }, null, true)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
