@{
    ViewBag.Title = "机构产品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
        $(function () {
            $("#Name").val("@ViewBag.Name");
        });
    </script>
}
@model PagedList<Entity.MechanismProducts>
<div class="row-fluid">
    <div class="span12" style="width: 100%">
        @using (Html.BeginForm("selall", "MechanismProducts", new { id = 1 }, FormMethod.Get))
        {
            <div class="myoption">
                <table style="width: 100%">
                    <tr>
                        <td width="100px">
                            产品名称:
                        </td>
                        <td>
                            <input type="text" id="Name" name="Name" class="span6"  style="margin-bottom: 0px"  />
                        </td>
                        <td>
                            <input type="submit" value="查询" class="btn blue" />
                        </td>
                    </tr>
                </table>

            </div>
        }
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>机构产品列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover">
                    <tr>
                    <th>
                        序号
                    </th>
                        <th>机构简称</th>
                        <th>
                            产品名称
                        </th>
                        <th>
                            最高贷款额度（万）
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @ViewBag.Index+1
                            </td>
                            <td>
                                @item.Mechanism.ShortName
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(item.WebSite))
                                { 
                                    <span class="tooltips" data-placement="top" data-original-title="暂无官网">@item.Name</span>
                                }
                                else
                                { 
                                    <a class="tooltips"  href="@item.WebSite"  target="_blank"  data-placement="top" data-original-title="点击进入官网">@item.Name</a>
                                }
                            </td>
                            <td>
                                @item.MaxQuota
                            </td>
                            <td>
                                @if (item.IsEnable)
                                {
                                    @:正常
                                }
                                else
                                { 
                                    <span style="color: Red">禁用</span>
                                   
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("GetInfo", "MechanismProducts", new { MPID = item.ID })" target="_blank">
                                    查看详细</a>
                            </td>
                        </tr>
                    }
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
               {
                   PageIndexParameterName = "ID",
                   CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                   NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                   NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                   CssClass = "",
                   SeparatorHtml = "",
                   AutoHide = false,
                   PageIndexOutOfRangeErrorMessage = "页面错误。",
                   ShowFirstLast = false,
                   ContainerTagName = "ul"
               })
                </div>
            </div>
        </div>
    </div>
</div>
