@{
    ViewBag.Title = "账号管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="@Url.Content("/Scripts/Jcrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <link href="@Url.Content("/Scripts/Jcrop/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("/Scripts/uploadify/jquery.uploadify.js")" type="text/javascript"></script>
    <script>
        $(function () {
          
            var imgIsOk = @ViewBag.imgIsOk;
            if (imgIsOk == 0) {
                $("#tab_Ck").click();
            }
            else if(imgIsOk==1){
                $("#tab_CkImg").click();
                JMessage("头像保存成功！",false);
            }else if(imgIsOk==2){
                $("#tab_CkImg").click();
                JMessage("头像移除成功！",false);
            }
            var UpImgUrl = '@Url.Action("UploadImage", "Ajax")';
            var Cnt = 0;
            var jcrop_api, boundx, boundy;
            var tempC;
            function updatePreview(c) {
                tempC = c;
                if (parseInt(c.w) > 0) {
                    var rx = 180 / c.w;
                    var ry = 180 / c.h;

                    $('#imgLogo').css({
                        width: Math.round(rx * boundx) + 'px',
                        height: Math.round(ry * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx * c.x) + 'px',
                        marginTop: '-' + Math.round(ry * c.y) + 'px'
                    });
                }
                $('#x1').val(c.x);
                $('#y1').val(c.y);
                $('#w').val(c.w);
                $('#h').val(c.h);
                //获取当前显示图片高宽
                $('#tw').val($("#imgSel").width());
                $('#th').val($("#imgSel").height());
            };


            $("#file_upload").uploadify({

                height: 30,
                swf: '@Url.Content("/Scripts/uploadify/uploadify.swf")',
                uploader: UpImgUrl,
                width: 70,
                fileSizeLimit: '5MB',
                buttonText: '选择图片',
                multi: false,
                fileTypeExts: '*.jpg;*.jpge;*.gif;*.png;*.bmp',
                onUploadSuccess: function (file, data, response) {

                    if (data == "" || data == undefined || data == "false") {
                        JAlert({
                            Message: "上传失败请重新上传！",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        });
                        return;
                    }

                    if (Cnt > 0) {
                        jcrop_api.destroy();
                        $('#x1').val("0");
                        $('#y1').val("0");
                        $('#w').val("0");
                        $('#h').val("0");
                        $('#tw').val("0");
                        $('#th').val("0");
                    }
                    var dataJson = JSON.parse(data)
                    $("#imgSel").attr('src', dataJson.FileUrl);
                    $("#imgLogo").attr('src', dataJson.FileUrl);


                    $("#ImgPath").val(dataJson.FilePath);

                    $('#imgSel').Jcrop({
                        onChange: updatePreview,
                        onSelect: updatePreview,
                        aspectRatio: 1,
                        setSelect: [0, 0, 200, 200]
                    }, function () {
                        // Use the API to get the real image size
                        var bounds = this.getBounds();
                        boundx = bounds[0];
                        boundy = bounds[1];
                        // Store the API in the jcrop_api variable
                        jcrop_api = this;
                        updatePreview(tempC);
                    });
                    Cnt = 1;

                }
            });

        });

        function CheckPWD() {
            var Pwd1 = $("#newPwd").val();
            var pwd2 = $("#newPwd2").val();
            if (Pwd1.length < 6 || pwd2.length < 6) {
                JMessage("新密码长度不能小于6位", true);
                return false;
            }
            if (Pwd1 != pwd2) {
                JMessage("两次密码输入不一致", true);
                return false;
            }

            return true;
        }
        function CheckImg() {
           
            var ImgPath =  $("#ImgPath").val();
            if (ImgPath.length <=0||ImgPath==undefined||ImgPath==null) {
                JMessage("请先选择图片！", true);
                return false;
            }
            var w = $("#w").val();
            if(w==0)
            {
                JMessage("请先选择区域！", true);
                return false;
            }
            return true;
        }

        function DelIMG(){
        $("#delImg_btn").click();
        }
    </script>
    <style type="text/css">
        img
        {
            max-width: none;
        }
        .middle-out
        {
            width: 320px;
            height: 320px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 6px;
            border: 1px solid rgba(0,0,0,.4);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }
        .ulUser
        {
            padding: 0px;
            margin: 5px 0px;
        }
        .ulUser li
        {
            list-style-type: none;
        }
        .ulUserTitle
        {
            height: 30px;
            line-height: 30px;
        }
        .ulUserList
        {
            min-height: 30px;
            border-bottom: 1px solid #E7E7E7;
        }
    </style>
}
@model Entity.GroupAccount
<div class="tab-pane row-fluid profile-account" id="tab_1_3">
    <div class="row-fluid">
        <div class="span12">
            <div class="span3">
                <ul class="ver-inline-menu tabbable margin-bottom-10">
                    <li><a id="tab_Ck" data-toggle="tab" href="#tab_1-1"><i class="icon-cog"></i>我的信息</a><span
                        class="after"></span></li>
                    <li class=""><a id="tab_CkImg" data-toggle="tab" href="#tab_2-2"><i class="icon-picture">
                    </i>头像</a></li>
                    <li class=""><a data-toggle="tab" href="#tab_3-3"><i class="icon-lock"></i>修改密码</a></li>
                </ul>
            </div>
            <div class="span9">
                <div class="tab-content">
                    <div id="tab_1-1" class="tab-pane ">
                        <div style="height: auto;" id="accordion1-1" class="accordion collapse">
                            @using (Ajax.BeginForm("UPProFile", "GroupProfile", new AjaxOptions() { UpdateTargetId = "alert" }))
                            {
                                <label class="control-label">
                                    登录账号</label>
                                @Html.TextBoxFor(a => a.AccountNumber, new { @readonly = "readonly", @class = "m-wrap span8" })
                                <label class="control-label">
                                    姓名</label>
                                @Html.TextBoxFor(a => a.Name, new { @class = "m-wrap span8" })<span class="help-inline">@Html.ValidationMessageFor(a => a.Name)</span>
                                <label class="control-label">
                                    手机号</label>
                                @Html.TextBoxFor(a => a.Phone, new { @class = "m-wrap span8" })<span class="help-inline">@Html.ValidationMessageFor(a => a.Phone)</span>
                                <label class="control-label">
                                    邮箱</label>
                                @Html.TextBoxFor(a => a.Email, new { @class = "m-wrap span8" })<span class="help-inline">@Html.ValidationMessageFor(a => a.Email)</span>
                                @Html.HiddenFor(a => a.ID)
                                @Html.HiddenFor(a => a.AccountPwd)
                                @Html.HiddenFor(a => a.GroupID)
                                @Html.HiddenFor(a => a.HeadPortrait)
                                <div class="controls" style="margin-top: 10px">
                                    <button type="submit" class="btn green isubmit">
                                        保存信息</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="tab_2-2" class="tab-pane">
                        <div style="height: auto;" id="accordion2-2" class="accordion collapse">
                            @using (Ajax.BeginForm("UpImage", "GroupProfile", new AjaxOptions() { UpdateTargetId = "alert" }))
                            {
                                <div>
                                    <div style="color: Red; font-size: 14px">
                                        提示：请上传小于5MB的图片
                                    </div>
                                    <table style="line-height: 15px">
                                        <tr>
                                            <td style="width: 365px" rowspan="2">
                                                <div class="middle-out">
                                                    <div class="middle-in" style="margin: auto 0px">
                                                        @if (string.IsNullOrEmpty(Model.HeadPortrait))
                                                        {
                                                            <img id="imgSel"  src="@Url.Content("/Image/default_avatar.png")"   style=" max-height:320px; max-width:320px;" />
                                                        }
                                                        else
                                                        { 
                                                            <img id="imgSel"  src="@Url.Content(Model.HeadPortrait ?? "/Image/default_avatar.png")"   style=" max-height:320px; max-width:320px;" />
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                            <td valign="top">
                                                <div style="width: 180px; border: 1px rgba(0,0,0,.4) solid; border-radius: 6px; padding: 6px;
                                                    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);">
                                                    @if (string.IsNullOrEmpty(Model.HeadPortrait))
                                                    {
                                                        <div style="width: 180px; height: 180px; overflow: hidden;">
                                                            <img id="imgLogo" src="@Url.Content("/Image/default_avatar.png")" style="width:180px; height:180px"/>
                                                        </div>
                                                    }
                                                    else
                                                    { 
                                                        <div style="width: 180px; height: 180px; overflow: hidden;">
                                                            <img id="imgLogo" src="@Url.Content(Model.HeadPortrait ?? "/Image/default_avatar.png")" style="width:180px; height:180px"/>
                                                        </div>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 20px">
                                                <input id="file_upload" name="file_upload" type="file" multiple="false" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <input id="ImgPath" name="ImgPath" type="hidden" />
                                                <div style="display: none">
                                                    X1
                                                    <input type="text" size="4" id="x1" name="x1" value="0" />
                                                    Y1
                                                    <input type="text" size="4" id="y1" name="y1" value="0" />
                                                    W
                                                    <input type="text" size="4" id="w" name="w" value="0" />
                                                    H
                                                    <input type="text" size="4" id="h" name="h" value="0" />
                                                    TW
                                                    <input type="text" size="4" id="tw" name="tw" value="0" />
                                                    TH
                                                    <input type="text" size="4" id="th" name="th" value="0" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="controls" style="margin-top: 10px">
                                    <button type="submit" onclick="return CheckImg()" class="btn green isubmit">
                                        保存头像</button>
                                    <button type="button" onclick="DelIMG()" class="btn red">
                                        移除头像</button>
                                </div>
                            }
                        </div>
                    </div>
                    @using (Ajax.BeginForm("DelImage", "GroupProfile", new AjaxOptions() { UpdateTargetId = "alert" }))
                    {
                        <button type="submit" id="delImg_btn" style="display: none">
                        </button>
                    }
                    <div id="tab_3-3" class="tab-pane">
                        <div style="height: auto;" id="accordion3-3" class="accordion collapse">
                            @using (Ajax.BeginForm("UPPwd", "GroupProfile", new AjaxOptions() { UpdateTargetId = "alert" }))
                            {
                                <label class="control-label">
                                    原始密码</label>
                                <input type="password" id="LsPWD" name="LsPWD" class="m-wrap span8" />
                                <label class="control-label">
                                    新密码 <span class="label label-important">注!</span> <span style="font-size: 12px">长度不能小于6位</span></label>
                                <input type="password" id="newPwd" name="newPwd" class="m-wrap span8" />
                                <label class="control-label">
                                    重复新密码 <span class="label label-important">注!</span><span style="font-size: 12px">长度不能小于6位</span></label>
                                <input type="password" id="newPwd2" name="newPwd2" class="m-wrap span8" />
                                <div class="controls" style="margin-top: 10px">
                                    <button type="submit" onclick="return CheckPWD()" class="btn green isubmit">
                                        修改密码</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--end span9-->
        </div>
    </div>
</div>
