@{
    Layout = null;
    var crlist = ViewBag.crlist as List<Entity.CompanyReference>;
}
@model Entity.Financing
<style>
    .td_title
    {
        text-align: center !important;
        background-color: #f9f9f9;
    }
</style>
<div class="span12" style="margin-left: 0px">
    <table class="table table-bordered dataTable" style=" border-collapse:collapse">
        <tr>
            <td colspan="4" class="td_title" style="font-weight: bold">
                项目基本信息
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                贷款主体
            </td>
            <td class="span4">
                @Model.Name
            </td>
            <td class="span2 td_title">
                业务来源
            </td>
            <td class="span4">
                @Model.BusinessResource
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                项目类型
            </td>
            <td class="span4">
                @(Model.WorkFlowManager == null ? "" : Model.WorkFlowManager.Name)
            </td>
            <td class="span2 td_title">
                项目经理
            </td>
            <td class="span4">
                @if (Model.Owner_A != null)
                { 
                    @:A：@Model.Owner_A.Name &nbsp;&nbsp;&nbsp;&nbsp;
                    if (Model.Owner_B != null)
                    { 
                    @:B：@Model.Owner_B.Name
                                                                    }
                }
            </td>
        </tr>
        <tr>
            <td colspan="4" class="td_title" style="font-weight: bold">
                贷款信息
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                贷款金额（万元）
            </td>
            <td class="span4">
                @Model.Amount
            </td>
            <td class="span2 td_title">
                贷款期限（月）
            </td>
            <td class="span4">
                @if (Model.MaxTimeLimit != 0)
                {
                    @:@Model.MinTimeLimit + @Model.MaxTimeLimit
                                                                                                }
                else
                {
                    @Model.MinTimeLimit
                }
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                贷款利率
            </td>
            <td class="span4">
                @Model.ShouYiLv @(Model.ShouYiLvType == 0 ? "月" : "年")
            </td>
            <td class="span2 td_title">
                贷款用途
            </td>
            <td class="span4">
                @Model.Purpose
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                还款来源@{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "hkly", Text = "[附件]", IsEnabled = false, Table = Entity.SystemConst.TableName.Financing, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.HuanKuanLaiYuan });}
            </td>
            <td class="span10" colspan="3">
                @Model.Repayment
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                抵押物清单@{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "dywqd", Text = "[附件]", IsEnabled = false, Table = Entity.SystemConst.TableName.Financing, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.DiYaWuQingDan });}
            </td>
            <td class="span10" colspan="3">
                @Model.DiYaWuQingDan
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                担保措施
            </td>
            <td class="span10" colspan="3">
                @Model.ZengXinCuoShi
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                交易模式
            </td>
            <td class="span10" colspan="3">
                @Model.RongZiFangAn
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                项目现场调查@{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "xmxcdc", Text = "[附件]", IsEnabled = false, Table = Entity.SystemConst.TableName.Financing, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.XiangMuXianChangHeCha });}
            </td>
            <td class="span10" colspan="3">
                @Model.Remark
            </td>
        </tr>
        <tr>
            <td colspan="4" class="td_title" style="font-weight: bold">
                企业基本信息
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                企业名称
            </td>
            <td class="span4">
                @Model.Company.Name
            </td>
            <td class="span2 td_title">
                企业性质
            </td>
            <td class="span4">
                @Investment.Models.CommonHelp.GetQiYeXingZhi(int.Parse(Model.Company.QiYeXingZhi))
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                成立时间
            </td>
            <td class="span4">
                @Model.Company.SetUpTime.ToString("yyyy年MM月dd日")
            </td>
            <td class="span2 td_title">
                企业资质、证书
            </td>
            <td class="span4">
                @Model.Company.QiYeZiZhi
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                注册资本（万元）
            </td>
            <td class="span4">
                @Model.Company.ZhuCheZiJin
            </td>
            <td class="span2 td_title">
                实收资本（万元）
            </td>
            <td class="span4">
                @Model.Company.ShiShouZiBen
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                法定代表人
            </td>
            <td class="span4">
                @Model.Company.FaDingDaiBiaoRen
            </td>
            <td class="span2 td_title">
                实际控制人
            </td>
            <td class="span4">
                @Model.Company.ShiJiKongZhiRen
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                企业地址
            </td>
            <td class="span10" colspan="3">
                @Model.Company.Address
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                主营业务
            </td>
            <td class="span4">
                @Model.Company.ZhuYingYeWu
            </td>
            <td class="span2 td_title">
                经营范围
            </td>
            <td class="span4">
                @Model.Company.JingYingFanWei
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                关联企业
            </td>
            <td class="span10" colspan="3">
                @Model.Company.GuanLianGongSi
            </td>
        </tr>
        <tr>
            <td class="span2 td_title">
                股权结构
            </td>
            <td class="span10" colspan="3">
                @Model.Company.GuQuanJieGou
            </td>
        </tr>
    </table>
    <table class="table table-bordered dataTable">
        <tr>
            <td colspan="7" class="td_title" style="font-weight: bold">
                财务信息
            </td>
        </tr>
        <tr>
            <td colspan="7" style="font-weight: bold">
                金融机构借贷信息
            </td>
        </tr>
        <tr>
            <td class="td_title" >
                借款金额(万)
            </td>
            <td class="td_title" >
                贷款方
            </td>
            <td class="td_title" >
                借款期限
            </td>
            <td class="td_title" >
                借款方式
            </td>
            <td class="td_title" >
                抵押物信息
            </td>
            <td class="td_title" >
                担保方
            </td>
            <td class="td_title" >
                相关附件
            </td>
        </tr>
        @foreach (var item in crlist)
        {
            <tr id="JGJDtr_@item.ID">
                <td>
                    @item.Borrow
                </td>
                <td>
                    @item.Lenders
                </td>
                <td>
                    @item.Deadline
                </td>
                <td>
                    @item.Methods
                </td>
                <td>
                    @item.Collateral
                </td>
                <td>
                    @item.Sponsors
                </td>
                <td>
                    @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "JGJDXX", Text = "[附件]", Table = "CompanyReference", TableId = item.ID, EnumAttachmentType = 0, IsEnabled = false });}
                </td>
            </tr>
        
        }
    </table>
</div>
