@{
    ViewBag.Title = "修改客户";
    Layout = ViewBag.Layout;
    var CRList = ViewBag.CRList as List<Entity.CompanyReference>;
}
@section scripts{
    <style>
        .myLink
        {
            cursor: pointer;
        }
        .form-horizontal .control-label
        {
            width: 115px;
        }
        .form-horizontal .controls
        {
            margin-left: 125px;
        }
    </style>
    <script type="text/javascript">
      




        var hasGuanLian = '@ViewBag.HasGuanLian';
        $(function () {
            var qiYeXingZhi = '@Model.QiYeXingZhi';
            $("#QiYeXingZhi option[value='" + qiYeXingZhi + "']").attr("selected", "selected");


            var url_gl = '@Url.Action("Add_GuanLian", "Company", new { companyID = Model.ID })';

            $("#link_open_guanlian").click(function () {
                $("#iframe_guanlian").attr("src", url_gl);
                init_gl();
            });
            init_gl();
        });
        function init_gl() {
            if (hasGuanLian == 'False') {
                $("#_Title").hide();
                $("#div_noMenu_top").hide();
                $("#div_noMenu_head").css("margin-top", "0px");
                $("#div_page_root").css("margin-top", "10px");
            }
        }

       
    </script>
}
@model Entity.Company
<a onclick="reloadJGJDXX()" id="reloadJGJDXX" style="display: none"></a>
<div class="row-fluid" id="div_page_root">
    <div class="span12">
        <div class="tabbable tabbable-custom boxless">
            @using (Ajax.BeginForm("Edit", "Company", new AjaxOptions() { UpdateTargetId = "alert" }, new { @class = "form-horizontal" }))
            {
                <div style=" margin-bottom:10px; margin-top:10px; height:30px">
                    <a href="@Url.Action("Edit", "Company", new { id = ViewBag.CompanyID })"  style="  font-size:13px; color:#fff; background-color:#4b77be; padding:10px 10px;text-decoration:none; margin-right:8px">公司基本资料</a>
                    <a href="@Url.Action("EditWith", "Company", new { id = ViewBag.CompanyID })" style="  font-size:13px;font-weight:bold; color:Black; background-color:#e4e4e4; padding:10px 10px;text-decoration:none; margin-right:8px">公司详细资料</a>
                    <a href="@Url.Action("EditFinance", "Company", new { id = ViewBag.CompanyID })" style="  font-size:13px;font-weight:bold; color:Black; background-color:#e4e4e4; padding:10px 10px;text-decoration:none; margin-right:8px">公司财务/债务情况</a>
                    <a href="@Url.Action("EditRealEstate", "Company", new { id = ViewBag.CompanyID })" style="  font-size:13px;font-weight:bold; color:Black; background-color:#e4e4e4; padding:10px 10px;text-decoration:none; margin-right:8px">项目资料（房地产）</a>
                </div>
                <div class="myoption">
                    <div>
                        <button type="submit" class="btn blue submitbtn">
                            保存</button>
                       
                          <a href="@Url.Action("Index", "Company")" class="btn" style="">返回</a>
                          @Html.HiddenFor(a => a.ID)@Html.HiddenFor(a => a.OwnerID)@Html.HiddenFor(a => a.Status)
                          @Html.HiddenFor(a => a.Phone)
                          @Html.HiddenFor(a => a.WebSite)
                          @Html.HiddenFor(a => a.Fax)
                    </div>
                </div>
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-reorder"></i>公司基本资料</div>
                        <div class="tools">
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        公司名称</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.Name, new { @class = "span8 m-wrap" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.Name)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        详细地址</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.Address, new { @class = "m-wrap span8" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.Address)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        成立时间</label>
                                    <div class="controls">
                                        @Html.TextBox("SetUpTime", @Model.SetUpTime.ToString("yyyy/MM/dd"), new { @class = "m-wrap span6", placeholder = "年/月/日 （如：2014/05/01）" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.SetUpTime)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        有效期限</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.ChengLiShiJianJiYingYeQiXian, new { @class = "m-wrap span8" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.ChengLiShiJianJiYingYeQiXian)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        注册资本（万元）</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.ZhuCheZiJin, new { @class = "m-wrap span8" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.ZhuCheZiJin)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        实收资本（万元）</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.ShiShouZiBen, new { @class = "m-wrap span8" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.ShiShouZiBen)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        主营业务</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.ZhuYingYeWu, new { @class = "m-wrap span8" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.ZhuYingYeWu)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        经营范围</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.JingYingFanWei, new { @class = "m-wrap span8" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.JingYingFanWei)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        企业性质</label>
                                    <div class="controls">
                                        <select name="QiYeXingZhi" id="QiYeXingZhi" class="m-wrap span8">
                                            <option value="1">有限责任公司</option>
                                            <option value="2">股份有限责任公司</option>
                                            <option value="3">个人合伙企业</option>
                                            <option value="4">个人独资企业</option>
                                            <option value="5">全民所有制企业</option>
                                            <option value="6">集体所有制企业</option>
                                            <option value="7">个体工商户</option>
                                        </select>
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.QiYeXingZhi)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        企业资质、证书</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.QiYeZiZhi, new { @class = "m-wrap span8" })
                                        <span class="help-inline">
                                            @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "1", Text = "[附件]", Table = Entity.SystemConst.TableName.Company, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.QiYeZiZhi });}
                                        </span><span class="help-inline">@Html.ValidationMessageFor(a => a.QiYeZiZhi)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        营业执照号</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.YingYeZhiZhao, new { @class = "m-wrap span8" })
                                        <span class="help-inline">
                                            @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "2", Text = "[附件]", Table = Entity.SystemConst.TableName.Company, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.YingYeZhiZhao1 });}
                                        </span><span class="help-inline">@Html.ValidationMessageFor(a => a.YingYeZhiZhao)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        组织机构代码证号</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.ZuZhiJiGouDaiMaZheng, new { @class = "m-wrap span8" })
                                        <span class="help-inline">
                                            @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "3", Text = "[附件]", Table = Entity.SystemConst.TableName.Company, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.ZuZhiJiGouDaiMa1 });}
                                        </span><span class="help-inline">@Html.ValidationMessageFor(a => a.ZuZhiJiGouDaiMaZheng)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        税务登记号</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.SuiWuDengJi, new { @class = "m-wrap span8" })
                                        <span class="help-inline">
                                            @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "4", Text = "[附件]", Table = Entity.SystemConst.TableName.Company, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.ShuiWu1 });}
                                        </span><span class="help-inline">@Html.ValidationMessageFor(a => a.SuiWuDengJi)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        开户许可证号</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(a => a.KaiHuXuKeZheng, new { @class = "m-wrap span8" })
                                        <span class="help-inline">
                                            @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "5", Text = "[附件]", Table = Entity.SystemConst.TableName.Company, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.KaiHuXuKe_XinYongDaiMa });}
                                        </span><span class="help-inline">@Html.ValidationMessageFor(a => a.KaiHuXuKeZheng)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        法定代表人姓名<br />
                                        及身份证号</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.FaDingDaiBiaoRen, new { @class = "span8 m-wrap" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.FaDingDaiBiaoRen)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        股东姓名<br />
                                        及身份证号</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.GuDong, new { @class = "m-wrap span8" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.GuDong)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        实际控制人<br />
                                        及身份证号</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.ShiJiKongZhiRen, new { @class = "span8 m-wrap" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.ShiJiKongZhiRen)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        信用代码证号<br />
                                        及征信报告</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.XinYongDaiMaZhengHao, new { @class = "span8 m-wrap" })
                                        <span class="help-inline">
                                            @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "6", Text = "[附件]", Table = Entity.SystemConst.TableName.Company, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.ZhengXinBaoGao });}
                                        </span><span class="help-inline">@Html.ValidationMessageFor(a => a.XinYongDaiMaZhengHao)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        股权结构概述</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.GuQuanJieGou, new { @class = "span8 m-wrap" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.GuQuanJieGou)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">
                                        关联企业概述</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(a => a.GuanLianGongSi, new { @class = "span8 m-wrap" })
                                        <span class="help-inline">@Html.ValidationMessageFor(a => a.GuanLianGongSi)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.HasGuanLian)
                        { 
                            <hr />
                            <div class="row-fluid">
                                <div class="span10" style="overflow-x: auto; padding-left: 125px;">
                                    <table class="table table-bordered" id="table_guanlian">
                                        <tr>
                                            <td style="width: 300px;">
                                                关联公司名称
                                            </td>
                                            <td style="width: 130px;">
                                                注册资本（万元）
                                            </td>
                                            <td>
                                                经营范围
                                            </td>
                                            <td style="width: 170px;">
                                                操作（<a data-toggle="modal" href="#div_guanlian_company" id="link_open_guanlian">新增</a>&nbsp;|&nbsp;<a href="@Url.Action("Index_gl", "Company", new {id=Model.ID })" target="_blank">管理</a>）
                                            </td>
                                        </tr>
                                        @if (Model.CompanyRelations2 != null)
                                        {
                                            foreach (var item in Model.CompanyRelations2)
                                            {
                                            <tr>
                                                <td>@item.Company.Name
                                                </td>
                                                <td>@item.Company.ZhuCheZiJin
                                                </td>
                                                <td>@item.Company.JingYingFanWei
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Detail", "Company", new { id = item.ID })" target="_blank">查看</a>
                                                </td>
                                            </tr>
                                            }
                                        }
                                    </table>
                                </div>
                                <div id="div_guanlian_company" class="modal hide fade" tabindex="-1" style="width: 1200px;
                                    margin-left: -600px;">
                                    <iframe style="width:100%;height:800px;border:none" id="iframe_guanlian" src="@Url.Action("Add_GuanLian", "Company", new { companyID = Model.ID })">
                                    </iframe>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="myoption">
                    <div>
                        <button type="submit" class="btn blue submitbtn">
                            保存</button>
                        
                          <a href="@Url.Action("Index", "Company")" class="btn" style="">返回</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
