@{
    ViewBag.Title = "新增贷款信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <style>
        .myLink
        {
            cursor: pointer;
        }
    </style>
    <script>
    </script>
}
@model Entity.Financing
<div class="row-fluid">
    <div class="span12">
        <div class="tabbable tabbable-custom boxless">
            @using (Ajax.BeginForm("EditFinancing", "Company", new { page = ViewBag.Page, fromID = ViewBag.fromID }, new AjaxOptions() { UpdateTargetId = "alert" }, new { @class = "form-horizontal" }))
            {
                <div class="myoption">
                    <button type="submit" class="btn blue" id="btnSubmit">
                        保存</button>
                    <button type="button" class="btn" onclick="location.href='@ViewBag.BackUrl'">
                        返回</button>@Html.HiddenFor(a => a.ID)@Html.HiddenFor(a => a.CompanyID)@Html.HiddenFor(a => a.Owner_A_ID)@Html.HiddenFor(a => a.Owner_B_ID)@Html.HiddenFor(a => a.BusinessType)@Html.HiddenFor(a => a.WorkFlowManagerID)
                        @Html.HiddenFor(a => a.Status)@Html.HiddenFor(a => a.AuditStatus)
                </div>
                <div class="tabbable tabbable-custom boxless">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-reorder"></i>贷款信息</div>
                            <div class="tools">
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="control-group">
                                <label class="control-label">
                                    贷款主体</label>
                                <div class="controls">
                                    @Html.TextBoxFor(a => a.Name, new { @class = "span6 m-wrap" })
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.Name)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    贷款金额（万元）</label>
                                <div class="controls">
                                    @Html.TextBoxFor(a => a.Amount, new { @class = "m-wrap span6" })
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.Amount)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    贷款期限（月）</label>
                                <div class="controls">
                                    @Html.TextBoxFor(a => a.MinTimeLimit, new { @class = "span2 m-wrap" })&nbsp;&nbsp;&nbsp<span
                                        class="help-inline">-</span>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(a => a.MaxTimeLimit, new { @class = "span2 m-wrap" })
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.MinTimeLimit)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    贷款利率</label>
                                <div class="controls">
                                    @Html.TextBoxFor(a => a.ShouYiLv, new { @class = "m-wrap span4" })
                                    <label class="radio">
                                        <div class="radio">
                                            <span class="checked">
                                                <input type="radio" name="ShouYiLvType" value="0" checked=""></span></div>
                                        月
                                    </label>
                                    <label class="radio">
                                        <div class="radio">
                                            <span>
                                                <input type="radio" name="ShouYiLvType" value="1"></span></div>
                                        年
                                    </label>
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.ShouYiLv)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    贷款用途</label>
                                <div class="controls">
                                    @Html.TextAreaFor(a => a.Purpose, new { @class = "span6 m-wrap" })
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.Purpose)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    还款来源</label>
                                <div class="controls">
                                    @Html.TextAreaFor(a => a.Repayment, new { @class = "span6 m-wrap" })
                                    @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "3", Text = "[附件]", Table = Entity.SystemConst.TableName.Financing, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.HuanKuanLaiYuan });}
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.Repayment)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    抵押物清单</label>
                                <div class="controls">
                                    @Html.TextAreaFor(a => a.DiYaWuQingDan, new { @class = "span6 m-wrap" })
                                    @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "2", Text = "[附件]", Table = Entity.SystemConst.TableName.Financing, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.DiYaWuQingDan });}
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.DiYaWuQingDan)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    担保措施</label>
                                <div class="controls">
                                    @Html.TextAreaFor(a => a.ZengXinCuoShi, new { @class = "span6 m-wrap" })
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.ZengXinCuoShi)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    交易模式</label>
                                <div class="controls">
                                    @Html.TextAreaFor(a => a.RongZiFangAn, new { @class = "span6 m-wrap" })
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.RongZiFangAn)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    业务来源</label>
                                <div class="controls">
                                    @Html.TextBoxFor(a => a.BusinessResource, new { @class = "span6 m-wrap" })
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.BusinessResource)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    项目现场核查</label>
                                <div class="controls">
                                    @Html.TextAreaFor(a => a.Remark, new { @class = "span6 m-wrap" })
                                    @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "4", Text = "[附件]", Table = Entity.SystemConst.TableName.Financing, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.XiangMuXianChangHeCha });}
                                    <span class="help-inline">@Html.ValidationMessageFor(a => a.Remark)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    其他附件</label>
                                <div class="controls">
                                    <span class="help-inline">
                                        @{Html.RenderAction("Manage", "Attachment", new Investment.Models.AttachmentControl { ID = "1", Text = "附件管理", Table = Entity.SystemConst.TableName.Financing, TableId = Model.ID, EnumAttachmentType = Entity.Enum.EnumAttachmentType.RongZiXinXiFuJian });}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="myoption">
                    <button type="submit" class="btn blue" id="btnSubmit">
                        保存</button>
                    <button type="button" class="btn" onclick="location.href='@ViewBag.BackUrl'">
                        返回</button>
                </div>
            }
        </div>
    </div>
</div>
