@{
    ViewBag.Title = "融资信息管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var company = ViewBag.Company as Entity.Company;
}
@section scripts{
}
@model PagedList<Entity.Financing>
<div class="row-fluid">
    <div class="span12">
        @using (Html.BeginForm("Financing", "Company", new { id = 1, companyID = company.ID, page = ViewBag.Page }))
        {
            <div class="myoption">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100px;">
                            项目名称
                        </td>
                        <td>
                            <input type="text" class="span6" name="Name" id="Name" style="margin-bottom: 0px" />
                        </td>
                        <td style="width: 100px;">
                            <input type="submit" value="查询" class="btn blue" />
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        }
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>@company.Name - 融资信息列表
                </div>
                <div class="tools">
                    @if (ViewBag.LoginUesrID == company.OwnerID)
                    {
                        @Html.ActionLink("<i class='icon-plus'></i>&nbsp;新增融资信息", "AddFinancing", "Company", new { companyID = company.ID, page = ViewBag.Page }, new { style = "color:#FFF" }, true).Html()
                    }
                    @Html.ActionLink("<i class='icon-share-alt'></i>&nbsp;返回", "Index", "Company", new { id = ViewBag.Page }, new { style = "color:#FFF" }).Html()
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="table_company">
                    <thead>
                        <tr>
                            <th>
                                项目名称
                            </th>
                            <th>
                                融资金额
                            </th>
                            <th>
                                融资期限
                            </th>
                            <th>
                                融资成本
                            </th>
                            <th>
                                项目类型
                            </th>
                            <th style="width: 20%">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @if (item.MaxTimeLimit != 0)
                                    {
                                        @:@item.MinTimeLimit + @item.MaxTimeLimit
                                                                                                                    }
                                    else
                                    {
                                        @item.MinTimeLimit
                                    }
                                </td>
                                <td>
                                    @item.FinancingCost
                                </td>
                                <td>
                                    @item.WorkFlowManager.Name
                                </td>
                                <td>
                                    @Html.ActionLink("详细", "Detail", "Financing", new { id = item.ID }, null, true)
                                    @if (ViewBag.LoginUesrID == item.Owner_A_ID)
                                    { 
                                        @Html.ActionLink("修改", "EditFinancing", "Company", new { id = item.ID, companyID = company.ID, page = ViewBag.Page, fromID=1 }, null, true)@:
                                        @Ajax.ActionLink("删除", "DeleteFinancing", "Company", new { id = item.ID, companyID = company.ID, page = ViewBag.Page, fromID = 1 }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?删除此项将会删除其关联的所有数据！')" }, true)
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
               {
                   PageIndexParameterName = "ID",
                   CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                   NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                   NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                   CssClass = "",
                   SeparatorHtml = "",
                   AutoHide = false,
                   PageIndexOutOfRangeErrorMessage = "页面错误。",
                   ShowFirstLast = false,
                   ContainerTagName = "ul"
               })
                </div>
            </div>
        </div>
    </div>
</div>
