@{
    ViewBag.Title = "客户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
@model PagedList<Entity.Company>
<div class="row-fluid">
    <div class="span12">
        <div>
            @Html.ActionLink("新增客户", "Add", "Company", null, new { @class = "btn blue" }, true)
        </div>
        @using (Html.BeginForm("Index", "Company", new { id = 1 }))
        {
            <table style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
                <tr>
                    <td style="width: 100px;">
                        客户名称
                    </td>
                    <td>
                        <input type="text" class="span6" name="Name" id="Name" style="margin-bottom: 0px" />
                    </td>
                    <td style="width: 100px;">
                        <input type="submit" value="查询" class="btn blue" />
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        }
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>客户列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="table_company">
                    <thead>
                        <tr>
                            <th>
                                客户名称
                            </th>
                            <th>
                                法人
                            </th>
                            <th>
                                审核状态
                            </th>
                            <th style="width: 20%">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.FaDingDaiBiaoRen
                                </td>
                                <td>
                                    @if (item.Status == 0)
                                    { 
                                        @:待审核
                                    }
                                    else if (item.Status == 1)
                                    {
                                        @:通过
                                    }
                                    else if (item.Status == 2)
                                    { 
                                        @:未通过
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
                                </td>
                                <td>
                                    @Html.ActionLink("详细", "Detail", "Company", new { id = item.ID }, null, true)
                                    @Html.ActionLink("修改", "Edit", "Company", new { id = item.ID }, null, true)
                                    @Ajax.ActionLink("删除", "Delete", "Company", new { id = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?删除此项将会删除其关联的所有数据！')" }, true)
                                    @Html.ActionLink("融资信息", "Financing", "Company", new { companyID = item.ID, page = Model.CurrentPageIndex }, null, true)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
               {
                   PageIndexParameterName = "ID",
                   CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                   NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                   NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                   CssClass = "",
                   SeparatorHtml = "",
                   AutoHide = false,
                   PageIndexOutOfRangeErrorMessage = "页面错误。",
                   ShowFirstLast = false,
                   ContainerTagName = "ul"
               })
                </div>
            </div>
        </div>
    </div>
</div>
