@{
    ViewBag.Title = "客户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
    </script>
}
@model PagedList<Entity.Company>
<div class="row-fluid">
    <div class="span12">
        @Html.ActionLink("新增客户", "Add", "Company", null, new { @class = "btn blue" }, true)
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>客户列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover" id="table_company">
                    <thead>
                        <tr>
                            <th>
                                客户名称
                            </th>
                            <th style="width: 20%">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @Html.ActionLink("分配权限", "RoleMenu", "Role", new { id = item.ID }, null, true)
                                    @Html.ActionLink("修改", "Edit", "Role", new { id = item.ID }, null, true)
                                    @Ajax.ActionLink("删除", "Delete", "Role", new { id = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('确定删除?删除此项将会删除其关联的所有数据！','" + Url.Action("Delete", "Role", new { id = item.ID }) + "',null)" }, true)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    @Html.Pager(Model, new PagerOptions
                       {
                           PageIndexParameterName = "ID",
                           CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><a>{0}</a></li>",
                           NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                           NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                           CssClass = "",
                           SeparatorHtml = "",
                           AutoHide = false,
                           PageIndexOutOfRangeErrorMessage = "页面错误。",
                           ShowFirstLast = false,
                           ContainerTagName = "ul"
                       })
                </div>
            </div>
        </div>
    </div>
</div>
