@{
    ViewBag.Title = "新增账号";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Role = ViewBag.Role as List<Entity.Role>;
    var Position = ViewBag.Position as List<Entity.Position>;
    
}
@section scripts{
    <script>
        function GetRoleAndPosition() {
            var Roleid = "";
            $("input[name='CK_Role']:checked").each(function (i, e) {
                Roleid = Roleid + $(this).val() + ",";
            });
            $("#Roles").val(Roleid);
            var PositionID = "";
            $("input[name='CK_Position']:checked").each(function (i, e) {
                PositionID = PositionID + $(this).val() + ",";
            });
            $("#Positions").val(PositionID);
        }
    </script>
    <style>
        .table-hover td
        {
            padding: 8px 8px 0px 8px;
            vertical-align: baseline;
        }
    </style>
}
@model Entity.GroupAccount
<div class="row-fluid">
    <div class="span12" style="width: 100%">
        @using (Ajax.BeginForm("Add", "GroupAccount", new AjaxOptions() { UpdateTargetId = "alert" }, new { @class = "form-horizontal" }))
        {
            <div class="myoption">
                <button class="btn blue" onclick="GetRoleAndPosition()" type="submit">
                    添加</button>
                <a href="@Url.Action("Index", "GroupAccount")" class="btn blue" style="">返回</a>
            </div>
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-cogs"></i>新增人员账号
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <input type="hidden" name="Roles" id="Roles" />
                    <input type="hidden" name="Positions" id="Positions" />
                    <div class="control-group">
                        <label class="control-label">
                            登录账号:</label>
                        <div class="controls">
                            @Html.TextBoxFor(a => a.AccountNumber, new { @class = "span6 m-wrap" })
                            <span class="help-inline">@Html.ValidationMessageFor(a => a.AccountNumber)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            姓名:</label>
                        <div class="controls">
                            @Html.TextBoxFor(a => a.Name, new { @class = "span6 m-wrap" })
                            <span class="help-inline">@Html.ValidationMessageFor(a => a.Name)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            邮箱:</label>
                        <div class="controls">
                            @Html.TextBoxFor(a => a.Email, new { @class = "span6 m-wrap" })
                            <span class="help-inline">@Html.ValidationMessageFor(a => a.Email)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            电话:</label>
                        <div class="controls">
                            @Html.TextBoxFor(a => a.Phone, new { @class = "span6 m-wrap" })
                            <span class="help-inline">@Html.ValidationMessageFor(a => a.Phone)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            角色:</label>
                        <div class="controls">
                            @foreach (var item in Role)
                            {
                                <label class="checkbox line">
                                    <input type="checkbox" value="@item.ID" name= "CK_Role" />
                                    @item.RoleName
                                </label>

                            }
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            职位:</label>
                        <div class="controls">
                            @foreach (var item in Position)
                            {
                                <label class="checkbox line">
                                    <input type="checkbox" value="@item.ID" name= "CK_Position" />
                                    @item.Name
                                </label>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
