@{
    ViewBag.Title = "我的日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.List as List<Entity.WorkLog>;
}
@section scripts{
    <link href="@Url.Content("/media/css/fullcalendar.css")" rel="stylesheet" />
    <script src="@Url.Content("/media/js/fullcalendar.min.js")"></script>
    <script>

        var Calendar = function () {
            return {
                //main function to initiate the module
                init: function () {

                    App.addResponsiveHandler(function () {
                        Calendar.initCalendar();
                    });

                    $('.page-sidebar .sidebar-toggler').click(function () {
                        Calendar.initCalendar();
                    });

                    Calendar.initCalendar();
                },

                initCalendar: function () {

                    if (!jQuery().fullCalendar) {
                        return;
                    }

                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();

                    var h = {};

                    if (App.isRTL()) {
                        if ($('#calendar').parents(".portlet").width() <= 720) {
                            $('#calendar').addClass("mobile");
                            h = {
                                right: 'title, prev, next',
                                center: '',
                                right: 'agendaDay, agendaWeek, month, today'
                            };
                        } else {
                            $('#calendar').removeClass("mobile");
                            h = {
                                right: 'title',
                                center: '',
                                left: 'agendaDay, agendaWeek, month'
                            };
                        }
                    } else {
                        if ($('#calendar').parents(".portlet").width() <= 720) {
                            $('#calendar').addClass("mobile");
                            h = {
                                left: 'title, prev, next',
                                center: '',
                                right: 'today,month'
                            };
                        } else {
                            $('#calendar').removeClass("mobile");
                            h = {
                                left: 'title',
                                center: '',
                                right: 'prev,next,today,month'//'prev,next,today,month,agendaWeek,agendaDay'
                            };
                        }
                    }

                    $('#calendar').fullCalendar('destroy'); // destroy the calendar
                    $('#calendar').fullCalendar({ //re-initialize the calendar
                        header: h,
                        slotMinutes: 15,
                        editable: false,
                        droppable: false, // this allows things to be dropped onto the calendar !!!
                        selectable: true,
                        selectHelper: true,
                        select: function (start, end) {
                            var currentDate = new Date();
                            if (start > currentDate) {
                                JMessage('不能选择今天之后的日期进行操作。', true);
                                $("#div_worklog_option *").attr("disabled", "disabled");
                                return;
                            } else {
                                $("#div_worklog_option *").removeAttr("disabled");
                            }
                            $("#lab_sel_day").text(start.format("yyyy 年 MM 月 dd 日"));
                            var mydate = start.format("yyyy-MM-dd");
                            $("#LogDate").val(mydate);
                            LoadWorkLog(mydate);
                            //                            var title = prompt('Event Title:');
                            //                            var eventData;
                            //                            if (title) {
                            //                                eventData = {
                            //                                    title: title,
                            //                                    start: start,
                            //                                    end: end
                            //                                };
                            //                                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                            //                            }
                            //$('#calendar').fullCalendar('unselect');
                        },
                        eventLimit: true, // allow "more" link when too many events
                        events: [{
                            title: '3条日志',
                            start: '2015-03-17'
                        }, ]
                    });

                }

            };

        } ();
        Calendar.init();
        LoadWorkLog(new Date().format("yyyy-MM-dd"));
        function LoadWorkLog(date) {
            var GetMyWorkLogUrl = '@Url.Action("GetMyWorkLog","WorkLog")';
            $("#div_workLogList").load(GetMyWorkLogUrl, { dt: date }, function () {
                $('#calendar').fullCalendar('removeEvents');
                $('#calendar').fullCalendar('addEventSource', workLog_msg);
            });
        }
    </script>
}
@model Entity.WorkLog
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue calendar" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>我的日志
                </div>
            </div>
            <div class="portlet-body light-grey">
                <div class="row-fluid">
                    <div class="span6 responsive" data-tablet="span12 fix-margin" data-desktop="span8">
                        <div id="div_worklog_option">
                            @using (Ajax.BeginForm("Add", "WorkLog", new { hasGroupAccount = true, page = -1 }, new AjaxOptions() { UpdateTargetId = "alert" }, new { @class = "form-horizontal" }))
                            {
                                <h3>
                                    <div id="lab_sel_day">@DateTime.Now.ToString("yyyy 年 MM 月 dd 日")</div>
                                </h3>
                                <div style="margin-top: 10px;">
                                    @Html.TextAreaFor(a => a.Log, new { @class = "m-wrap span12", rows = "6", placeholder = "内容" })
                                    @Html.ValidationMessageFor(a => a.Log)@Html.HiddenFor(a => a.WorkFlowID)
                                    @Html.Hidden("LogDate", DateTime.Now)
                                </div>
                                <input type="submit" value="填写工作日志" class="btn blue" style="margin-top: 15px;"  />
                            }
                        </div>
                        <div style="margin-top: 20px;" id="div_workLogList">
                            @{Html.RenderAction("GetMyWorkLog", "WorkLog", new { dt = DateTime.Now });}
                        </div>
                    </div>
                    <div class="span6">
                        <div id="calendar" class="has-toolbar">
                        </div>
                    </div>
                </div>
                <!-- END CALENDAR PORTLET-->
            </div>
        </div>
    </div>
</div>
