@{
    ViewBag.Title = "机构管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
@model List<Entity.Mechanism>
<div class="row-fluid">
    <div class="span12" style="width: 100%">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>机构列表
                </div>
                <div class="tools">
                    @Html.ActionLink("<i class='icon-plus'></i>&nbsp;添加机构", "Add", "Mechanism", null, new { style = "color:#FFF" }, true).Html()
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            机构名称
                        </th>
                        <th>
                            产品管理
                        </th>
                        <th style="width: 20%">
                            操作
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (string.IsNullOrEmpty(item.WebSite))
                                { 
                                    <span class="tooltips" data-placement="top" data-original-title="暂无官网地址">@item.Name</span>
                                }
                                else
                                { 
                                    <a  class="tooltips" href="@item.WebSite"  target="_blank"  data-placement="top" data-original-title="点击进入官网">@item.Name</a>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("点击进入", "Index", "MechanismProducts", new { MID = item.ID }, null)
                            </td>
                            <td>
                                @Html.ActionLink("修改", "Edit", "Mechanism", new { id = item.ID }, null, true)
                                @*@Ajax.ActionLink("删除", "Delete", "GroupAccount", new { GAID = item.ID }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('你确定要删除吗?','" + Url.Action("Delete", "GroupAccount", new { GAID = item.ID }) + "',null)" })*@
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
